li {
    list-style: none;
    display: inline;
}

span {
    display: block;
    border: 1px solid black;
    margin: 25px 25px; 

}

.n-child section:nth-of-type(even) {
    border: 1px solid black; 

}

.block:not(:last-of-type):after {
    content: ", ";

}


.n-type section:nth-of-type(odd) {
    color: blue;
}

.first-of-type aside:first-of-type {
    background-color: lime; 

}

.first-of-type section:first-of-type {
    background-color: purple;

}

.three section:first-child {
    background-color: orange;
}

.three section:last-child {
    background-color: darkslategray;

}

article:before {
    content: "Article Parent Element";
}

article {
    border: 1px dashed gray;
    background-color: royalblue;
}